/*
	Folder:	HelloWorldWebPage
	File:	style.css
	Author:	@wboswall
	Copyright:	(C)2017 All Rights Reserved.
	Description:	Controls the esthetics for index.html.  
	Date Created:	2017-12-03
	Date Modified:	2017-12-03
*/
header
{
	
}
body
{
	
}
footer
{
	
}
