 /*
    Folder:	HelloWorldWebSite
    File: style.css
    Associated files: index.php, engine.js, helloWebSiteLib.php, and names.mysql
    Author:	@wboswall
    Copyright:	(C)2017 All Rights Reserved.
    Description:	This will control all of the css esthetics for the website.  
    Date Created:	2017-12-03
    Date Modified: 2017-12-18
  */
header
{
	
}
body
{
	
}
footer
{
	
}
